<div>
  <label>a: {{ a }}</label>
  <input type="number" [(ngModel)]="a">
</div>

<div>
  <label>b: {{ b }}</label>
  <input type="number" [(ngModel)]="b" />
</div>

<div>
  <label>c: {{ c }}</label>
  <input type="number" [value]="c" />
</div>

<todo-list></todo-list>
<todo-list></todo-list>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
