<div class="todo-item">
  <button (click)="deleteItem()">Delete</button>
  <div class="space"></div>
  <button (click)="tick()">Tick</button>
  <div class="space"></div>
  <div>x {{ item.count }}</div>
  <div class="space"></div>
  <div>{{ item.text }}</div>
</div>
